/ejercicio4/nbproject/private/
/Calculadora2/nbproject/private/
/Calculadora2/build/
/Hilo/nbproject/private/
/Hilo/build/
/Array/nbproject/private/
/Array/build/
/assertConDelta/nbproject/private/
/assertConDelta/build/
/ejercicio_1/nbproject/private/
/ejercicio_1/build/
/ejercicio_abstractas/nbproject/private/
/ejercicio_abstractas/build/
/AbstractAreas/nbproject/private/
/AbstractAreas/build/